.img-circle {
	border-radius: 50%;
}
.img-circle.profile_img {
	width: 70%;
	background: #fff;
	z-index: 1000;
	position: inherit;
	margin-top: 5px;
	margin-left: 25px;
	margin-bottom: 15px;
	border: 1px solid rgba(52,73,94,0.44);
	padding: 4px;
}