/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);


// Note: image from https://pixabay.com (Creative Commons CC0)
$auth-background-color: dynamic(#080D11);
$auth-color: dynamic(contrasted($auth-background-color, 75%));
$auth-background-image: url('app/images/blue_background.jpg');
